* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 50;
  transition: 0.5s;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* body */
body {
  height: 100vh;
  width: 100%;
  position: relative;
}

footer {
  width: 100%;
  position: relative;
  bottom: -18%;
  left: 0;
  padding: 2rem 8%;
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.iconoconteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.icono {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px sh #000090;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
  background-image: url(../Imagenes/face.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 1rem;
}

.icono:hover {
  background-color: #6495ed;
  filter: invert(1);
}

.icono:nth-of-type(2) {
  background-image: url(../Imagenes/wsp.png);
}

.icono:nth-of-type(3) {
  background-image: url(../Imagenes/ubiccacion.png);
}

.convos {
  background-color: #6495ed;
}

/* INDEX */
/* PRODUCTO */

/* SASS */
.nosotros h2 {
  color: cornflowerblue;
  padding: 30px;
  text-shadow: 5px 5px 5px rgb(165, 165, 165);
  font-size: xx-large;
}
.nosotros p {
  text-align: left;
  -webkit-text-size-adjust: large;
     -moz-text-size-adjust: large;
          text-size-adjust: large;
  padding: 30px;
  text-shadow: 5px 5px 5px rgb(165, 165, 165);
  font-size: xx-large;
}

.tecnico h2 {
  color: cornflowerblue;
  padding: 30px;
  text-align: right;
  text-shadow: 5px 5px 5px rgb(165, 165, 165);
  font-size: xx-large;
}
.tecnico p {
  text-align: right;
  padding: 30px;
  text-shadow: 5px 5px 5px rgb(165, 165, 165);
  font-size: xx-large;
}

.solicitud {
  text-shadow: 5px 5px 5px rgb(165, 165, 165);
  font-size: xx-large;
  padding: 30px;
}

div #donde {
  text-shadow: 5px 5px 5px rgb(165, 165, 165);
  font-size: xx-large;
  text-align: center;
  color: cornflowerblue;
}
div dl dt {
  font-size: larger;
  text-shadow: 5px 5px 5px rgb(165, 165, 165);
  text-align: center;
  color: cornflowerblue;
}
div #mapa {
  text-align: center;
}
div .link {
  text-align: center;
  text-decoration: none;
  color: black;
}

.logoindex {
  width: 100%;
  min-width: 320px;
  margin: auto;
  padding-bottom: 20px;
}
.logoindex img {
  width: 100%;
  box-shadow: 0px 3px 5px black;
}

.solicitud {
  color: cornflowerblue;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  table-layout: fixed;
}

.table caption {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 8px 0px;
}

.table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
}

.table th, .table td {
  font-size: 16px;
  padding: 8px;
  text-align: center;
}

.table thead th {
  text-transform: uppercase;
  background-color: #ddd;
}

.table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.table tbody td:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* RESPONSIVE */
@media screen and (max-width: 550px) {
  * {
    font-size: small;
  }
  * body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  * footer {
    padding: 3px;
    margin-top: auto;
  }
  * .icono {
    height: 30px;
    width: 30px;
    border-radius: 30px;
  }
  * .nosotros h2 {
    color: cornflowerblue;
    padding: 30px;
    text-shadow: 5px 5px 5px rgb(165, 165, 165);
    font-size: xx-large;
  }
  * .nosotros p {
    text-align: left;
    -webkit-text-size-adjust: large;
       -moz-text-size-adjust: large;
            text-size-adjust: large;
    padding: 30px;
    text-shadow: 5px 5px 5px rgb(165, 165, 165);
    font-size: larger;
  }
  * .tecnico h2 {
    color: cornflowerblue;
    padding: 30px;
    text-align: right;
    text-shadow: 5px 5px 5px rgb(165, 165, 165);
    font-size: xx-large;
  }
  * .tecnico p {
    text-align: right;
    padding: 30px;
    text-shadow: 5px 5px 5px rgb(165, 165, 165);
    font-size: larger;
  }
  #donde {
    text-align: center;
    position: relative;
    font-size: larger;
  }
  .sociales {
    text-align: center;
    position: relative;
    font-size: larger;
  }
  #mapa {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .link {
    text-align: center;
    position: relative;
  }
  .table {
    border: 0px;
  }
  .table caption {
    font-size: 22px;
  }
  .table thead {
    display: none;
  }
  .table tr {
    margin-bottom: 8px;
    border-bottom: 4px solid #ddd;
    display: block;
  }
  .table th, .table td {
    font-size: 12px;
  }
  .table td {
    display: block;
    border-bottom: 1px solid #ddd;
    text-align: right;
  }
  .table td:last-child {
    border-bottom: 0px;
  }
  .table td::before {
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
    float: left;
  }
}/*# sourceMappingURL=main.css.map */